<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action= "{% url 'display_specific' deal.id %}" method="POST" >
        {% csrf_token %}
        {{deal_form}}
      {{adress}}
       {{asset}}
      {{compute}}
      <input type="submit" value="Save Deals">


      <div>

        {{deal.percentage_average_market_data}}
      </div>
</body>
</html>