{% extends 'deal/sharefiles/base.html' %} {% block content %}

<div class="container">
  <div class="col-8">
    <h2>Subscriptions</h2>
    {% for de in user.Deals.all %}
    <div>
      {{de}}
      <a href="{% url 'view_deal' de.id%}">View</a>
     
      <a href = "{% url 'refresh' de.id %}"> Refresh</a> 
      <a href="{% url 'delete' de.id%}">Delete</a>
    </div>
    {% endfor %}
  </div>

  {% comment %} <article class="media content-section">
    <img
      class="rounded-circle article-img"
      src="{{ profile.image.url }}"
      alt=""
    />
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'display_specific' de.id%}">View Search</a>
        <a href="{% url 'edit' de.id%}">Edit</a>
        <a href="{% url 'delete' de.id%}">Delete</a>
      </div>
      <h2>
        <a
          style="text-decoration: none"
          class="article-title"
          href="{% url 'post-detail' ps.id %}"
          >{{ps.title}}</a
        >
      </h2>
      <p class="article-content">{{ps.content}}</p>
    </div>
  </article> {% endcomment %}
</div>
{% endblock content %}
