{% extends 'deal/sharefiles/base.html' %} {% block content %}


 
<div class="card mt-4 ml-4 mr-4">
<form action="{% url 'address_assets' %}" method="post">
   

    <div class="card-body">
      <p class="h6">Address:</p>
        {% include 'partials/_messages.html'%} {% csrf_token %}
       
        <div class="form-row">
           <div class="col col-md-6">
            <input type="text" class="form-control" placeholder="City" name ="city">
          </div>
          <div class="col col-md-2">
            <input type="text" class="form-control" placeholder="State code" name = "state_code">
         </div>
         <div class="col col-md-4">
            <input type="text" class="form-control" placeholder="Postal code" name = "location">
         </div>
       </div>
        
    </div>

     <div class="card-body">
      <p class="h6">Assets:</p>
     {% if property_status == 'Rent' %}
     {% include 'deal/forms/rent-form.html' %}
     {% endif %}     
       
     {% if property_status == 'Sale' %}
     {% include 'deal/forms/sale-form.html' %}
     {% endif %} 

      
        
    </div>
    <input
          type="submit"
          value="Search Deals"
          class="btn btn-primary btn-primary-sm"
        />
      </form>
    
  </div>

  <div class="app-table">

    <table class="table table-stripped table-hover">
      <thead>
        <tr>
          <th>Price ($)</th>
          <th>Description</th>
          <th>Location</th>
        
          <th></th>
        </tr>
      </thead>
  
      <tbody>
        {% for deal in deals.itertuples%}
        <tr>
          <td>{{deal.list_price}}</td>
          <td>{{deal.description.type}}, baths:{{deal.description.baths}} beds:{{deal.description.beds}} Garage:{{deal.description.garage}}, {{deal.description.sqft}} sqft</td>
          <td>{{deal.location.address.postal_code}}, {{deal.location.address.state}} {{deal.location.address.state_code}}</td>
          
  
          <td>
            <a
              href=""
              class="btn btn-secondary btn-sm"
              >View Details</a
            >
          </td>
        </tr>
  
        {% endfor %}
      </tbody>
    </table>
  </div>
  

{% endblock content %}