{% extends 'deal/sharefiles/base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container main">
  <div class="dealheadertext">
    <h1 class="createdeal">CREATE A DEAL</h1>
  </div>

  <div class="createdealBox">
    <form
      id="CreateDeal"
      action="{% url 'deals-new' %}"
      method="POST"
      autocomplete="true"
    >
      {% csrf_token %} {{deal}}{{adress}} {{asset}} {{compute}}

      <button type="submit" class="btn btn-success">Create Deal</button>
    </form>
  </div>
</div>

{% endblock %}
