{% extends 'deal/sharefiles/base.html' %} {% block content %}

<style>

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>

<div class="container">
  
    <h2>Subscriptions</h2>
    {% for de in deals %}
    
      <div class="col-12" >
           
          <div class="card mt-4 ml-4 mr-4" >

            <div style=" display: flex;justify-content: space-between;">
            
              <div><a href="" ><h5>{{de.title}}'s deal</h5></a></div>
      

              
      
              <div><a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#{{de.id}}">Edit</a>
              
              
              
              <div class="modal fade" id="{{de.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header text-center">
                      <h4 class="modal-title w-100 font-weight-bold">Edit Saved Deal</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                   
                    <div class="modal-body mx-3">
                     <form action="{% url 'edit_subscription'  de.id %}"method="post">
                    {% csrf_token %}
                      <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="defaultForm-email" >Name</label>
                        <input type="text" id="defaultForm-email" class="form-control validate" value="{{de.title}}" name = "name">
                        
                      </div>
              
                      <div class="md-form mb-4" >
                        <label data-error="wrong" data-success="right" for="defaultForm-pass">Email Subscription</label>
                        <div style=" display: flex;justify-content: space-between;">
                          {% if de.status.value == "Active"%}  
                          <p id = "status{{de.id}}">ON</p>
                          
                          <label class="switch ">
                            
                            <input name = "toggle" id= "toggle{{de.id}}" type="checkbox" checked >
                            <span class="slider round"></span>

                            
                          </label>

                          {% else%}

                          <p id = "status{{de.id}}" >OFF</p>
                          
                          <label class="switch ">
                            
                            <input name = "toggle" id= "toggle{{de.id}}" type="checkbox">
                            <span class="slider round"></span>

                            
                          </label>

                          {% endif %}

                        

                        <div class="maindropSelect ">

                          <div class="dropselect1">
                              <select class="form-control" id="defaultForm-pass{{de.id}}" name="time" value="{{de.title}}">
                                 
                                  
                                  <option name ="time" value ="1 min" >1 Min</option>
                                  <option name ="time" value ="7 days" >Daily</option>
                                  <option name ="time" value ="2 days" >Weekends</option>
                              </select>
                          </div>
                      </div>
                      </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary"  href="" value="Save">
                      </div>
                    </form>
                    </div>
                    
                  </div>
                </div>
              </div>
            
              
              
              
              
              </div>
     
            </div>
            
    </div>
  </div>


  <script>


    const toggle{{de.id}} = document.querySelector('#toggle{{de.id}}');
    const text{{de.id}} = document.querySelector('#defaultForm-pass{{de.id}}');
    const status{{de.id}} = document.querySelector('#status{{de.id}}');
  
    toggle{{de.id}}.addEventListener("click", (e) =>{
  
  if (toggle{{de.id}}.checked){
    text{{de.id}}.style.display = "block";
    status{{de.id}}.innerHTML = 'ON';
  
  }else{
    text{{de.id}}.style.display = "none";
    status{{de.id}}.innerHTML = 'OFF';
  }
    });
  </script>
  

    {% endfor %}
  

</div>










  {% endblock %}



  